* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section__container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section__background--wave {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: hidden;
}

.section__content {
  width: 80%;
  height: 80%;
  z-index: 10;
  display: flex;
}

.section__background--phone {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone-img {
  width: 80%;
}

.form__box {
  width: 360px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 80px;
}

.form__avatar {
  width: 100%;
  height: 15%;
  margin-bottom: 30px;
}

.form__title {
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 800;
  letter-spacing: 2px;
}

.form__content {
  margin-top: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.form__input {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
  margin-bottom: 20px;
  position: relative;
}

.form__input::before {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #555;
  position: absolute;
  bottom: 12px;
}

/* ANIMATION WHEN FOCUS */
.form__input.focus .icon {
  background-color: #38d39f;
}

.form__input.focus .input__label {
  transform: translateY(-50px);
  font-size: 18px;
}

.form__input.focus::before {
  background-color: #38d39f;
}
/******************************/

.form__icon {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  margin-bottom: 5px;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #555;
  border-radius: 50%;
}

.input__box {
  position: relative;
  width: 90%;
}

.input__content {
  width: 100%;
  padding: 10px;
  display: flex;
  border: none;
  outline: none;
  padding: 15px 5px;
  font-size: 20px;
  color: #555;
}

.input__label {
  color: #555;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
  transition: all 0.4s;
}

.form__link {
  width: 100%;
  display: block;
  text-align: right;
  color: #555;
  margin-top: 14px;
  text-decoration: none;
  font-size: 16px;
  transition: 0.4s;
}

.form__link:hover {
  color: #38d39f;
}

.form__button {
  width: 100%;
  margin-top: 20px;
  border-radius: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: linear-gradient(
    90deg,
    rgba(169, 156, 178, 1) 0%,
    rgba(239, 239, 239, 1) 0%,
    rgba(56, 211, 159, 1) 57%
  );
  cursor: pointer;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  background-size: 200%;
}

.form__button:hover {
  background-position: right;
}
